
  .company_item {
    max-width: 10vh;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 5px 40px;
    margin: 5px 0 !important;
  }

